<form action="/recipes/" method="post">
    <label for="recipe_name">Your recipe: </label>
    <input id="recipe_name" type="text" name="recipe_name" value="">
     <label for="amount_cal">amount of calories: </label>
    <input id="amount_cal" type="text" name="amount_cal" value="">
       <label for="time">preparation time: </label>
    <input id="time" type="text" name="time" value="">
      <label for="ingredients">preparation time: </label>
    <input id="ingredients" type="text" name="ingredients" value="">
    <input type="submit" value="OK">
</form>